<!doctype html>
<html lang="en">

{% include 'header.html' %}

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>new recipe</h1>
        <p>by Agata Malczyk</p>
    </div>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <div class="row">   
            <form action="/add" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" placeholder="Recipe name" name="name" id="name">
                </div>
                <div class="form-group">
                  <label for="ingredients">Ingredients:</label>
                  <input type="text" class="form-control" placeholder="Enter Ingredients" name="ingredients" id="ingredients">
                </div>
                <div class="form-group">
                    <label for="steps">steps:</label>
                    <input type="text" class="form-control" placeholder="Enter Steps" name="steps"  id="steps">
                  </div>
                 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form> 
        
        </div>
        <div class="row">
            <a href="/">back</a>
        </div>
    </div>


</body>

</html>